@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color1: #000000;
    --color2: #A0E8AF;
    --color3: #3AB795;
    --color4: #86BAA1;
    --color5: #0d0210;
    --color6: #4C6085;
}

.product h3 {
    font-size: 18px;
    color: var(--color6);
    margin-top: 10px;
    font-family: 'Montserra', sans-serif;
}


.product p {
    font-size: 18px;
    color: var(--color1);
    margin-top: 10px;
    font-family: 'Montserra', sans-serif;
}

.navbar {
    background-color: var(--color2);
}

.barraPesquisa {
    margin: 2em 0;
    border-radius: 2px;
}

/* Formatação da product-grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

#body{
    background-color: #3AB795;
}

.product {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #EDEAD0;
}

.product a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color5);
}

.product a:hover {
    background-color: var(--color3);
}

.product img {
    width: auto;
    height: 250px;
}

/* Estilos para a barra de pesquisa */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--color4);
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.teste {
    background-color: var(--color4);
}

.final {
    background-color: var(--color4);
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color1);
    margin-top: 2em;
}

.final ul li a {
    text-decoration: none;
    color: var(--color1);
}

footer {
    background-color: var(--color5);
    padding: 2em 0;
    color: var(--color1);
    text-align: center;
}

.logopagamento {
    width: 8%;
}

.logo {
    width: 5%;
}